# Dependencies
node_modules/

# Build outputs
dist/
build/
.next/
out/

# Storybook
storybook-static/

# Coverage
coverage/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo

# Env
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo
